<footer class="pt-3" style="background-color: #b9bbbe;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 pt-4">
                <img src="https://viettel.vn/images/logo-footer.png" alt="" height="30px" width="auto" class="mb-4">
                <p class="fw-bold" style="font-size: 18px;">Địa chỉ: 
                    <span class="fw-normal">Số 210 Trần Phú, Cái Khế, Ninh Kiều, Cần Thơ, Việt Nam</span></p>

                    <a href="tel:098 865 6501"><p class="fw-bold" style="font-size: 18px;">Liên Hệ: <span class="fw-normal">098.865.6501</span></p></a>
                    <p class="fw-bold" style="font-size: 18px;">Hotline: <span class="fw-normal">0292.625.0178</span></p>

            </div>
            <div class="col-lg-4 pt-4 mobile-footer">
                <p class="title-footer">INTERNET - TRUYỀN HÌNH</p>
                <a href="#Intenet">
                    <p class="text-footer">Internet</p>
                </a>
                <a href="#Camera">
                    <p class="text-footer">Camera</p>
                </a>
                <a href="#TruyenHinh"
                    <p class="text-footer">Truyền hình</p>
                </a>
                <a href="TruyenHinh-detail.html">
                    <p class="text-footer">Combo Interner - Truyền hình</p>
                </a>
            </div>
            <div class="col-lg-4 pt-4 mobile-footer">
                <p class="title-footer">HỖ TRỢ KHÁCH HÀNG</p>
                <a href="DangKy.html">
                    <p class="text-footer">Thủ tục đăng ký</p>
                </a>
                <a href="LienHe.html">
                    <p class="text-footer">Tư vấn</p>
                </a>
            </div>
        </div>
    </div>
    <div style="text-align: center; padding: 10px 0; background-color: black;">
        <span style="color: white; font-size: 18px;">© 2024 Viettel Cần Thơ. All rights reserved.</span>
    </div>
</footer>